<h1>
  {{title}}
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmitModelBased()">
      <p>
          <label>Product name:</label>
          <input type="text" formControlName="productName">
      </p>
      <p>
          <label>Product manufacturer:</label>
          <input type="text" formControlName="productManufacturer">
      </p>
      <p>
          <label>Product price:</label>
          <input type="text" formControlName="productPrice">
      </p>
      <p>
          <button type="submit" [disabled]="!form.valid">Submit</button>
      </p>
</form>
